// 数量显示
function formatCount(count) {
  count = Number(count)
  if (count >= 100000000) {
    count = (count / 100000000).toFixed(1) + "亿"
  } else if (count >= 10000) {
    count = (count / 10000).toFixed(1) + "万"
  }

  return count
}

// 转换时间格式
function formatTime(time) {
  time = time / 1000
  var minute = formatLeftStr(Math.floor(time / 60))
  var second = formatLeftStr(Math.floor(time % 60))

  return minute + ":" + second
}

// 字符填充
function formatLeftStr(str) {
  str = str + ""
  return ("00" + str).slice(str.length)
}

module.exports = {
  formatCount: formatCount,
  formatTime: formatTime
}